# Directories for large, project-specific files
cache/*
!cache/.gitkeep
data/*
!data/.gitkeep
runs/*
!runs/.gitkeep
results/*
!results/,gitkeep
analyses/*
cache
data


__pycache__/
.DS_Store
._.DS_Store
.ipynb_checkpoints/
.vscode/
*.egg-info/
runs-apr-16-21.tar.gz
runs*.tar.gz
results*.tar.gz
runs*/
results*/
analyses*/
ismir*

*/**.pyc
venv/
embviz/
medleydb/